html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
